<!--
/*
* Copyright 2013-2014 BlackBerry Limited.
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/
-->
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.blackberry.community.LowLatencyAudio"
    version="1.0.1">

    <name>Low Latency Audio</name>
    <description>BlackBerry 10 Community Contributed API to support Low Latency Audio for .WAV files using OpenAL</description>
    <license>Apache 2.0</license>
    <author>BlackBerry</author>

    <js-module src="www/client.js">
        <merges target="PGLowLatencyAudio" />
    </js-module>
    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libpgaudio.so" arch="device" />
        <lib-file src="src/blackberry10/native/simulator/libpgaudio.so" arch="simulator" />
        <config-file target="www/config.xml" parent="/widget">
            <feature name="com.blackberry.community.LowLatencyAudio" value="com.blackberry.community.LowLatencyAudio" />
        </config-file>
    </platform>
</plugin>
