<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.blackberry.community.messageplugin"
    version="1.0.0">

    <name>MessageRetrieve</name>
    <description>BlackBerry 10 Community Contributed API retrieve Messages from invocation IDs</description>
    <license>Apache 2.0</license>
    <author>Pawel Gorny</author>
    <keywords>blackberry,message,invoke,cordova</keywords>
    <repo>https://github.com/blackberry/WebWorks-Community-APIs.git</repo>
    <issue>https://github.com/blackberry/WebWorks-Community-APIs/issues</issue>

    <js-module src="www/client.js">
        <clobbers target="community.messageplugin" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libMessageplugin.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libMessageplugin.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="com.blackberry.community.messageplugin" value="com.blackberry.community.messageplugin" />
        </config-file>
    </platform>
</plugin>