<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0.5" id="ThumbNail" xml:lang="en">
  <author href="http://www.example.com/"
          rim:copyright="Copyright 1998-2012 My Corp">My Corp</author>
  <name>Hello ThumbNail</name>
  <content src="index.html"/>
   <feature id="community.thumbnail" required="true" version="1.0.0.0" />
   <feature id="blackberry.app" required="true" version="1.0.0"/>
    <feature id="blackberry.invoke.card" required="true" version="1.0.0"/>
<access subdomains="true" uri="*" />
  <rim:permissions>
    <rim:permit>access_shared</rim:permit>
  </rim:permissions>
</widget>