body {
	margin: 0;
}

div {
	padding: 7%;
	color: #F8F8F8;
	font-size: 3em;
	text-align: center;
}

.start, .stop {
	height: 1.5em;
	width: 2em;
	position: fixed;
	top: 1em;
	z-index: 1;
}

.start {
	background-color: #0098f0;
	left: 0;
}

.stop {
	background-color: #F27878;
	right: 0;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}