<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.blackberry.community.nowplaying"
    version="1.0.0">

    <name>NowPlaying</name>
    <description>BlackBerry 10 Community Contributed API to NowPlaying</description>
    <license>Apache 2.0</license>
    <author>Tangrui Song</author>

    <js-module src="www/client.js">
        <clobbers target="com.blackberry.community.nowplaying" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libNowPlaying.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libNowPlaying.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget/rim:permissions">
            <rim:permit>post_notification</rim:permit>
        </config-file>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="com.blackberry.community.nowplaying" value="com.blackberry.community.nowplaying" />
        </config-file>
    </platform>
</plugin>
