<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-plugin-bb-sysdialog"
    version="1.0.1">

    <name>System Dialog</name>
    <description>BlackBerry 10 Community Contributed API to Prompt Global Notification Dialog</description>
    <license>Apache 2.0</license>
    <author>Yifan Ren</author>
    <keywords>blackberry,dialog,system,notification,cordova</keywords>
    <repo>https://github.com/blackberry/WebWorks-Community-APIs.git</repo>
    <issue>https://github.com/blackberry/WebWorks-Community-APIs/issues</issue>

    <js-module src="www/client.js">
        <clobbers target="community.sysdialog" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libSysDialog.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libSysDialog.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget/rim:permissions">
            <rim:permit>post_notification</rim:permit>
        </config-file>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="cordova-plugin-bb-sysdialog" value="cordova-plugin-bb-sysdialog" />
        </config-file>
    </platform>
</plugin>