<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-plugin-password-crypto"
    version="1.0.0">

    <name>Password Crypto</name>
    <description>BlackBerry 10 Community Contributed API to fast encrypt passwords with PBKDF2</description>
    <license>Apache 2.0</license>
    <author>Shikhir Singh</author>
    <keywords>blackberry,crypto,password,pbkdf2,cordova</keywords>
    <repo>https://github.com/blackberry/WebWorks-Community-APIs.git</repo>
    <issue>https://github.com/blackberry/WebWorks-Community-APIs/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>
    
    <js-module src="www/client.js">
        <clobbers target="community.PasswordCrypto" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libPasswordCryptoPlugin.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libPasswordCryptoPlugin.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="cordova-plugin-password-crypto" value="cordova-plugin-password-crypto" />
        </config-file>
    </platform>
</plugin>