<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.blackberry.community.simplexpbeaconplugin"
    version="1.0.0">

    <name>SimpleXpBeaconPlugin</name>
    <description>BlackBerry 10 Community Contributed SimpleXpBeaconPlugin API</description>
    <license>Apache 2.0</license>
    <author>John Murray</author>

    <js-module src="www/client.js">
        <clobbers target="com.blackberry.community.simplexpbeaconplugin" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libSimpleXpBeaconPlugin.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libSimpleXpBeaconPlugin.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="com.blackberry.community.simplexpbeaconplugin" value="com.blackberry.community.simplexpbeaconplugin" />
        </config-file>
    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="com.blackberry.community.simplexpbeaconplugin">
                <param name="android-package" value="com.blackberry.community.SimpleXpBeaconPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/com/blackberry/community/SimpleXpBeaconPlugin.java"
            target-dir="src/com/blackberry/community"/>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>

    </platform>
</plugin>
