<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-plugin-mongoose"
    version="1.0.0">
    
    <name>Mongoose</name>
    <description>BlackBerry 10 Community Contributed API to run a Mongoose embedded Web Server</description>
    <license>Apache 2.0</license>
    <author>Simon Booth, Deric Cheng</author>
    <keywords>blackberry,mongoose,webserver,cordova</keywords>
    <repo>https://github.com/blackberry/WebWorks-Community-APIs.git</repo>
    <issue>https://github.com/blackberry/WebWorks-Community-APIs/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>
    
    <js-module src="www/client.js">
        <clobbers target="community.mongoose" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libMongoose.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libMongoose.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="cordova-plugin-mongoose" value="cordova-plugin-mongoose" />
        </config-file>
    </platform>
</plugin>