body {
	margin: 0;
}

div {
	padding: 7%;
	color: #F8F8F8;
	font-size: 3em;
	text-align: center;
}


.buzz1 {
	height: 75px;
	width: 75px;
	background-color: #0098f0;
}

.buzz2 {
	height: 75px;
	width: 75px;
	background-color: #F27878;
}


.buzz3 {
	height: 75px;
	width: 75px;
	background-color: #99DF83;
}


.scoreBoard {
	color:#000000;
	font-size:25px;
}

.title {
	color:#000000;
	font-size:30px;
}