<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="community.extractZipFile"
    version="1.0.0">
    <js-module src="www/client.js">
        <clobbers target="community.extractZipFile" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libExtractZipFile.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libExtractZipFile.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="community.extractZipFile" value="community.extractZipFile" />
        </config-file>
    </platform>
</plugin>
