<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.blackberry.community.extractZipFile"
    version="1.1.2">

    <name>ExtractZipFile</name>
    <description>BlackBerry 10 Community Contributed API to unzip files</description>
    <license>Apache 2.0</license>
    <author>Daniel Dressler, Morgan Parlee, Tim Tung</author>

    <js-module src="www/client.js">
        <clobbers target="community.extractZipFile" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libExtractZipFile.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libExtractZipFile.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="com.blackberry.community.extractZipFile" value="com.blackberry.community.extractZipFile" />
        </config-file>
    </platform>
</plugin>
