<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-plugin-bb-zip"
    version="1.1.2">

    <name>ExtractZipFile</name>
    <description>BlackBerry 10 Community Contributed API to unzip files</description>
    <license>Apache 2.0</license>
    <author>Daniel Dressler, Morgan Parlee, Tim Tung</author>
    <keywords>blackberry,zip,extract,compress,decompress,cordova</keywords>
    <repo>https://github.com/blackberry/WebWorks-Community-APIs.git</repo>
    <issue>https://github.com/blackberry/WebWorks-Community-APIs/issues</issue>

    <js-module src="www/client.js">
        <clobbers target="community.extractZipFile" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libExtractZipFile.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libExtractZipFile.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="cordova-plugin-bb-zip" value="cordova-plugin-bb-zip" />
        </config-file>
    </platform>
</plugin>
