<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-plugin-led"
    version="1.0.1">

    <name>LED</name>
    <description>BlackBerry 10 Community Contributed API to flash the LED with RGB colors</description>
    <license>Apache 2.0</license>
    <author>Andy Wu, Deric Cheng</author>
    <keywords>blackberry,LED,cordova</keywords>
    <repo>https://github.com/blackberry/WebWorks-Community-APIs.git</repo>
    <issue>https://github.com/blackberry/WebWorks-Community-APIs/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <js-module src="www/client.js">
        <clobbers target="community.led" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libLed.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libLed.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="cordova-plugin-led" value="cordova-plugin-led" />
        </config-file>
        <config-file target="www/config.xml" parent="/widget/rim:permissions">
            <rim:permit>access_led_control</rim:permit>
        </config-file>
    </platform>
</plugin>