<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.blackberry.community.led"
    version="1.0.1">

    <name>LED</name>
    <description>BlackBerry 10 Community Contributed API to flash the LED with RGB colors</description>
    <license>Apache 2.0</license>
    <author>Andy Wu, Deric Cheng</author>

    <js-module src="www/client.js">
        <clobbers target="community.led" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libLed.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libLed.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="com.blackberry.community.led" value="com.blackberry.community.led" />
        </config-file>
        <config-file target="www/config.xml" parent="/widget/rim:permissions">
            <rim:permit>access_led_control</rim:permit>
        </config-file>
    </platform>
</plugin>