<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-plugin-vibrate-intense"
    version="1.0.1">

    <name>Vibration</name>
    <description>BlackBerry 10 Community Contributed API to use the Vibration control</description>
    <license>Apache 2.0</license>
    <author>Alex Kwan, James Grisdale</author>
    <keywords>blackberry,vibration,cordova</keywords>
    <repo>https://github.com/blackberry/WebWorks-Community-APIs.git</repo>
    <issue>https://github.com/blackberry/WebWorks-Community-APIs/issues</issue>

    <js-module src="www/client.js">
        <clobbers target="community.vibration" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libVibration.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libVibration.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="cordova-plugin-vibrate-intense" value="cordova-plugin-vibrate-intense" />
        </config-file>
    </platform>
</plugin>