<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-plugin-screendisplay"
    version="1.0.0">

    <name>Screen Display</name>
    <description>BlackBerry 10 Community Contributed API to get Screen Hardware information</description>
    <license>Apache 2.0</license>
    <author>Simon Booth, Alexandre Huot</author>
    <keywords>blackberry,screen,hardware,dimensions,cordova</keywords>
    <repo>https://github.com/blackberry/WebWorks-Community-APIs.git</repo>
    <issue>https://github.com/blackberry/WebWorks-Community-APIs/issues</issue>

    <js-module src="www/client.js">
        <clobbers target="community.screendisplay" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libScreenDisplay.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libScreenDisplay.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="cordova-plugin-screendisplay" value="cordova-plugin-screendisplay" />
        </config-file>
    </platform>
</plugin>