<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-plugin-qtbridge"
    version="1.0.0">

    <name>QtBridge</name>
    <description>BlackBerry 10 Community Contributed API to access QML objects directly through JavaScript</description>
    <license>Apache 2.0</license>
    <author>Isaac Gordezky</author>
    <keywords>blackberry,qt,qml,cordova</keywords>
    <repo>https://github.com/blackberry/WebWorks-Community-APIs.git</repo>
    <issue>https://github.com/blackberry/WebWorks-Community-APIs/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <js-module src="www/client.js">
        <clobbers target="blackberry.qt" />
        <clobbers target="Qt" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/arm/so.le-v7/libQtBridge.so" arch="device"/>
        <lib-file src="src/blackberry10/native/x86/so-g/libQtBridge.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="cordova-plugin-qtbridge" value="cordova-plugin-qtbridge" />
        </config-file>
    </platform>
</plugin>
