<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
		version="1.0.0"
        id="ExampleMemoryExtension">
    <name>MemoryExtension</name>
    <content src="index.htm"/>
    <author>
			Research In Motion Ltd.
	</author>
    <description>The example to show how to develop and use memory extension</description>
    <feature id="example.memory" required="true" version="1.0.0.0"/>
    <access uri="*"/>
    <license href="http://www.apache.org/licenses/LICENSE-2.0">My License</license>
</widget>