<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.blackberry.community.emailsenderplugin"
    version="1.0.2">

    <name>Email Sender</name>
    <description>BlackBerry 10 Community Contributed API to send email accounts on the device</description>
    <license>Apache 2.0</license>
    <author>Alexandre Huot, Stefan Schielke</author>

    <js-module src="www/client.js">
        <clobbers target="community.emailsenderplugin" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libEmailSender.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libEmailSender.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="com.blackberry.community.emailsenderplugin" value="com.blackberry.community.emailsenderplugin" />
        </config-file>
    </platform>
</plugin>