<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.blackberry.community.audiorecorder"
    version="1.0.0">

    <name>AudioRecorder</name>
    <description>BlackBerry 10 Community Contributed API to record audio to the filesystem</description>
    <license>Apache 2.0</license>
    <author>James Grisdale</author>
    <keywords>blackberry,audio,record,cordova</keywords>
    <repo>https://github.com/blackberry/WebWorks-Community-APIs.git</repo>
    <issue>https://github.com/blackberry/WebWorks-Community-APIs/issues</issue>

    <js-module src="www/client.js">
        <clobbers target="community.audiorecorder" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libAudio.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libAudio.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="com.blackberry.community.audiorecorder" value="com.blackberry.community.audiorecorder" />
        </config-file>
    </platform>
</plugin>